# Байт-код Python
__pycache__/
*.py[cod]

# Файлы и папки виртуального окружения
.venv
venv/
ENV/

# Файлы среды разработки
.vscode/
.idea/
*.swp

# Файлы баз данных
*.db
*.sqlite3
*.sqlite

# Медиа файлы, которые создаются при работе приложения
media/

# Статические файлы, которые могут быть сгенерированы
static/

# Файлы журналов
*.log

# Локальные конфигурационные файлы
local_settings.py

# Файлы секретов
*.secret
*.key
.env

# Файлы, создаваемые Django
db.sqlite3
/db.sqlite3-journal
*.pyc

# Файлы, создаваемые pytest
.cache/
*.py[cod]
*.egg-info/
dist/
build/
